extends layout

block content

  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js").
  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js").
  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js").
  div(id="main")
    div(class="title")
      h1 Witamy w ARC Projekt!

    div(class="loginbutton")
      button(type="button" id="loginbtn") ZALOGUJ SIĘ
      button(type="button" id="regisbtn") ZAREJESTRUJ SIĘ

    div(id="popuplogin" class="popup")
      div(class="popup-content")
        div(class="login-content")
          span(class="close" id="close-log") &times;
          h2 Logowanie
          if(loginErr)
            h3 #{loginErr}
          form(action="../account/login", method="POST")
            label Login
            br
            input(type="text" name="email")
            br
            br
            label Hasło
            br
            input(type="password" name="password")
            br
            br
            input(type="submit" value="Zaloguj się")
            br
          br
          br
          p Lub zaloguj się za pomocą:
          br
          button(type="button" id="twitterloginbtn" class="twitterbtn") Twitter
          br
          button(type="button" id="googleloginbtn" class="googlebtn") Google
          br
          button(type="button" id="facebookloginbtn" class="fbbtn") Facebook
    div(id="popupregis" class="popup")
      div(class="popup-content")
        span(class="close", id="close-reg") &times;
        h2 Rejestracja
        div(class="regis-content")
          if(registerErr)
            h3 #{registerErr}
          form(action="../account/register", method="POST")
            label E-mail
            br
            input(type="text" name="email")
            br
            br
            label Hasło
            br
            input(type="password" name="password")
            br
            br
            label Powtórz hasło
            br
            input(type="password" name="passwordcheck")
            br
            br
            input(type="submit" value="Zarejestruj się")


  script.
    const $ = function( id ) { return document.getElementById( id ); };

    let xhr = new XMLHttpRequest();

    const config = {
      apiKey: "AIzaSyBej7avmilxkqcE-JBtGpp4FwlQghhAixw",
      authDomain: "arc-project-302014.firebaseapp.com"
    };

    firebase.initializeApp(config);

    let popuplog = $("popuplogin");
    let popupreg = $("popupregis");
    let btnlog = $("loginbtn");
    let btnreg = $("regisbtn");
    let spanlog = $("close-log");
    let spanreg = $("close-reg");
    let twbtn = $("twitterloginbtn");
    let gobtn = $("googleloginbtn");
    let fbbtn = $("facebookloginbtn");

    btnlog.onclick = function () {
      popuplog.style.display = "block";
    }

    btnreg.onclick = function () {
      popupreg.style.display = "block";
    }

    spanlog.onclick = function () {
      popuplog.style.display = "none";
    }

    spanreg.onclick = function () {
      popupreg.style.display = "none";
    }

    twbtn.onclick = async function twitterLogin() {
      const twitterProvider = new firebase.auth.TwitterAuthProvider();
      await providerLogin(twitterProvider, "tw");
    }

    gobtn.onclick = async function googleLogin() {
      const googleProvider = new firebase.auth.GoogleAuthProvider();
      await providerLogin(googleProvider, "google");
    }

    fbbtn.onclick = async function facebookLogin() {
      const facebookProvider = new firebase.auth.FacebookAuthProvider();
      await providerLogin(facebookProvider, "fb");
    }

    async function providerLogin(provider, providerCode) {
      firebase.auth().signInWithPopup(provider)
              .then(async (result) => {
                let user = result.user;
                let uid = user.uid;
                let credential = result.credential;
                let token = credential.accessToken;
                if(providerCode === "google") token = credential.idToken;
                let secret = credential.secret;
                console.log(":)");
                xhr.open("POST", '/account/providerLogin', false);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({'uid':uid, 'token':token, 'secret': secret, 'provider': providerCode}));
                xhr.abort();
                window.location.href = "/wordbase";
              }).catch((error) => {
                console.log(`[${error.code}]: ${error.message}`);
              });
    }
