extends layout

block content
    div(id="learning-main")
        div(id="learningdiv")
            if words.length === 2
                h2 Brak słówek w Twojej bazie!
                h3 Dodaj conajmniej jedno, aby rozpocząć naukę
            else
                h3(id="langshow")
                h1(id="foreign")
                h3(id="langwrite")
                input(type="text", id="answer")
                br
                br
                button(type="button", id="show", onclick="show()") Nie wiem
                button(type="button", id="check", onclick="check()") Sprawdź
                br
                h2(id="newtext")

        script.

            const $ = function( id ) { return document.getElementById( id ); };

            let wordList = !{words};
            let randomWord;
            let langMode;
            let xhr = new XMLHttpRequest();

            window.onload = function () {
                init();
            };

            function modeRoll() {
                langMode = Math.round(Math.random());
            }

            function roll() {
                if (wordList === undefined) {

                } else {
                    return wordList[Math.floor(Math.random() * wordList.length)];
                }
            }

            function init() {
                $("learningtab").className = "active";
                if(wordList.length === 0) {
                    $("langshow").setAttribute("hidden", "hidden");
                    $("foreign").innerHTML = "Gratulacje! Wszystkie słówka w bazie są nauczone!"
                    $("langwrite").setAttribute("hidden", "hidden");
                    $("answer").setAttribute("hidden", "hidden");
                    $("show").setAttribute("hidden", "hidden");
                    $("check").setAttribute("hidden", "hidden");
                    $("newtext").style.color = "black";
                    $("newtext").innerHTML = "Dodaj conajmniej jedno nowe słówko do bazy, aby kontynuować naukę";
                }
                randomWord = roll();
                modeRoll();
                if (langMode === 0) {
                    $("foreign").innerHTML = randomWord.foreign;
                    $("langshow").innerHTML = "Hiszpański";
                    $("langwrite").innerHTML = "Polski";
                } else {
                    $("foreign").innerHTML = randomWord.local;
                    $("langshow").innerHTML = "Polski";
                    $("langwrite").innerHTML = "Hiszpański";
                }
            }

            function answer() {
                if (langMode === 0) {
                    return $("answer").value.toLowerCase() === randomWord.local.toLowerCase();
                } else {
                    return $("answer").value.toLowerCase() === randomWord.foreign.toLowerCase();
                }
            }

            function next() {
                init();
                $("check").onclick = check;
                $("check").innerHTML = "Sprawdź";
                $("newtext").innerHTML = "";
                $("answer").value = "";
                $("answer").removeAttribute("disabled");
                $("show").removeAttribute("disabled");
            }

            function check() {
                let currentWord = wordList.findIndex(w => randomWord === w);
                if (answer() === true) {
                    if (wordList[currentWord].learn < 3) {
                        wordList[currentWord].learn++;
                        xhr.open("POST", '/word/up/' + randomWord.id, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.send();
                        xhr.abort();
                    }
                    if (wordList[currentWord].learn === 3) {
                        wordList.splice(currentWord, 1);
                    }
                    $("newtext").style.color = "green";
                    $("newtext").innerHTML = "Dobrze! +1 pkt";
                    $("check").onclick = next;
                    $("check").innerHTML = "Następne";
                    $("show").setAttribute("disabled", "disabled");
                } else {
                    if (wordList[currentWord].learn > 0) {
                        wordList[currentWord].learn--;
                        xhr.open("POST", '/word/down/' + randomWord.id, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.send();
                        xhr.abort();
                    }
                    $("newtext").style.color = "red";
                    $("newtext").innerHTML = "Żle! -1 pkt";
                    $("check").onclick = next;
                    $("check").innerHTML = "Następne";
                    $("show").setAttribute("disabled", "disabled");
                }
            }

            function show() {
                $("answer").setAttribute("disabled", "disabled");
                $("show").setAttribute("disabled", "disabled");
                $("newtext").style.color = "orange";
                if (langMode === 0) {
                    $("newtext").innerHTML = randomWord.local + " 0 pkt";
                } else {
                    $("newtext").innerHTML = randomWord.foreign + " 0 pkt";
                }
                $("check").onclick = next;
                $("check").innerHTML = "Następne";
            }