#banner {
    margin: 0;
    text-align: left;
    width: 100%;
    color: #121843;
    background-color: lightsteelblue;
    border: 2px solid #121843;
    height: 45px;
}

#header img{
    height: 40px;
}

img.auctionphoto {
    height: auto;
    width: auto;
    max-width: 98%;
    max-height: 200px;
}

#buttons {
    text-align: right;
    margin-top: -35px;
}

#header form{
    text-align: right;
    margin-top: -35px;
    display: inline-block;
}